In [36]:
import pandas as pd
import datetime
import numpy as np
import altair as alt
import math

In [7]:
df = pd.read_csv("rats.csv")

In [8]:
df

,Unnamed: 0,unnamed_0,unnamed_0.1,unique_key,created_date,closed_date,location_type,incident_zip,incident_address,street_name,...,status,due_date,resolution_action_updated_date,community_board,borough,x_coordinate_(state_plane),y_coordinate_(state_plane),park_borough,latitude,longitude
0,0,0,18,47737582,09-30-2020 12:21:23 PM,NaN,1-2 Family Dwelling,10301.0,71 CORSON AVENUE,CORSON AVENUE,...,In Progress,NaN,NaN,01 STATEN ISLAND,STATEN ISLAND,961704.0,171706.0,STATEN ISLAND,40.637941,-74.081235
1,1,1,26,47740764,09-30-2020 12:16:02 PM,NaN,3+ Family Apt. Building,11209.0,7713 SHORE ROAD,SHORE ROAD,...,In Progress,NaN,NaN,10 BROOKLYN,BROOKLYN,973663.0,169532.0,BROOKLYN,40.631996,-74.038143
2,2,2,35,47743033,09-30-2020 11:57:41 AM,NaN,1-2 Family Dwelling,10301.0,CORSON AVENUE,CORSON AVENUE,...,In Progress,NaN,NaN,01 STATEN ISLAND,STATEN ISLAND,961871.0,171736.0,STATEN ISLAND,40.638024,-74.080634
3,3,3,36,47734508,09-30-2020 02:02:21 PM,NaN,1-2 Family Dwelling,10314.0,92 GARY COURT,GARY COURT,...,In Progress,NaN,NaN,02 STATEN ISLAND,STATEN ISLAND,939720.0,160811.0,STATEN ISLAND,40.607954,-74.160374
4,4,4,59,47729167,09-29-2020 04:55:22 PM,NaN,1-2 Family Dwelling,11228.0,7620 15 AVENUE,15 AVENUE,...,In Progress,NaN,NaN,11 BROOKLYN,BROOKLYN,983186.0,164023.0,BROOKLYN,40.616882,-74.003832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13619,13619,13619,153392,42018593,03-21-2019 12:00:00 AM,04-01-2019 12:00:00 AM,1-2 Family Dwelling,10301.0,126 CORSON AVENUE,CORSON AVENUE,...,Closed,04-20-2019 03:53:02 PM,04-01-2019 12:00:00 AM,01 STATEN ISLAND,STATEN ISLAND,961152.0,171595.0,STATEN ISLAND,40.637635,-74.083224
13620,13620,13620,153393,42018700,03-21-2019 12:00:00 AM,03-26-2019 11:54:04 AM,1-2 Family Dwelling,10304.0,17 ELLINGTON STREET,ELLINGTON STREET,...,Closed,04-20-2019 04:15:20 PM,03-26-2019 11:54:04 AM,01 STATEN ISLAND,STATEN ISLAND,960459.0,162622.0,STATEN ISLAND,40.613004,-74.085689
13621,13621,13621,153395,42018713,03-21-2019 12:00:00 AM,03-21-2019 12:00:00 AM,1-2 Family Mixed Use Building,11231.0,135 SACKETT STREET,SACKETT STREET,...,Closed,04-20-2019 10:48:50 AM,03-21-2019 10:52:19 AM,06 BROOKLYN,BROOKLYN,983625.0,188822.0,BROOKLYN,40.684950,-74.002254
13622,13622,13622,153402,42033717,03-23-2019 12:00:00 AM,03-23-2019 12:00:00 AM,1-2 Family Dwelling,10301.0,126 CORSON AVENUE,CORSON AVENUE,...,Closed,04-22-2019 01:48:45 PM,03-23-2019 01:52:13 PM,01 STATEN ISLAND,STATEN ISLAND,961152.0,171595.0,STATEN ISLAND,40.637635,-74.083224
13623,13623,13623,153406,42039339,03-25-2019 12:00:00 AM,03-25-2019 12:00:00 AM,3+ Family Apt. Building,10014.0,47 PERRY STREET,PERRY STREET,...,Closed,04-24-2019 12:18:05 AM,03-25-2019 12:00:00 AM,02 MANHATTAN,MANHATTAN,983421.0,207274.0,MANHATTAN,40.735596,-74.002991

In [42]:
fmt = lambda d : datetime.datetime.strptime(d, "%m-%d-%Y %H:%M:%S %p")

In [61]:
def cmp_days(data):
    created = fmt(data['created_date'])
    closed = fmt(data['closed_date'])
    dlt = closed - created
    return dlt.days

In [101]:
df['days_open'] = df.apply(lambda d: cmp_days(d) if type(d['created_date']) is str and type(d['closed_date']) is str else "NaN", axis=1)

In [102]:
df

,Unnamed: 0,unnamed_0,unnamed_0.1,unique_key,created_date,closed_date,location_type,incident_zip,incident_address,street_name,...,due_date,resolution_action_updated_date,community_board,borough,x_coordinate_(state_plane),y_coordinate_(state_plane),park_borough,latitude,longitude,days_open
0,0,0,18,47737582,09-30-2020 12:21:23 PM,NaN,1-2 Family Dwelling,10301.0,71 CORSON AVENUE,CORSON AVENUE,...,NaN,NaN,01 STATEN ISLAND,STATEN ISLAND,961704.0,171706.0,STATEN ISLAND,40.637941,-74.081235,NaN
1,1,1,26,47740764,09-30-2020 12:16:02 PM,NaN,3+ Family Apt. Building,11209.0,7713 SHORE ROAD,SHORE ROAD,...,NaN,NaN,10 BROOKLYN,BROOKLYN,973663.0,169532.0,BROOKLYN,40.631996,-74.038143,NaN
2,2,2,35,47743033,09-30-2020 11:57:41 AM,NaN,1-2 Family Dwelling,10301.0,CORSON AVENUE,CORSON AVENUE,...,NaN,NaN,01 STATEN ISLAND,STATEN ISLAND,961871.0,171736.0,STATEN ISLAND,40.638024,-74.080634,NaN
3,3,3,36,47734508,09-30-2020 02:02:21 PM,NaN,1-2 Family Dwelling,10314.0,92 GARY COURT,GARY COURT,...,NaN,NaN,02 STATEN ISLAND,STATEN ISLAND,939720.0,160811.0,STATEN ISLAND,40.607954,-74.160374,NaN
4,4,4,59,47729167,09-29-2020 04:55:22 PM,NaN,1-2 Family Dwelling,11228.0,7620 15 AVENUE,15 AVENUE,...,NaN,NaN,11 BROOKLYN,BROOKLYN,983186.0,164023.0,BROOKLYN,40.616882,-74.003832,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13619,13619,13619,153392,42018593,03-21-2019 12:00:00 AM,04-01-2019 12:00:00 AM,1-2 Family Dwelling,10301.0,126 CORSON AVENUE,CORSON AVENUE,...,04-20-2019 03:53:02 PM,04-01-2019 12:00:00 AM,01 STATEN ISLAND,STATEN ISLAND,961152.0,171595.0,STATEN ISLAND,40.637635,-74.083224,11
13620,13620,13620,153393,42018700,03-21-2019 12:00:00 AM,03-26-2019 11:54:04 AM,1-2 Family Dwelling,10304.0,17 ELLINGTON STREET,ELLINGTON STREET,...,04-20-2019 04:15:20 PM,03-26-2019 11:54:04 AM,01 STATEN ISLAND,STATEN ISLAND,960459.0,162622.0,STATEN ISLAND,40.613004,-74.085689,4
13621,13621,13621,153395,42018713,03-21-2019 12:00:00 AM,03-21-2019 12:00:00 AM,1-2 Family Mixed Use Building,11231.0,135 SACKETT STREET,SACKETT STREET,...,04-20-2019 10:48:50 AM,03-21-2019 10:52:19 AM,06 BROOKLYN,BROOKLYN,983625.0,188822.0,BROOKLYN,40.684950,-74.002254,0
13622,13622,13622,153402,42033717,03-23-2019 12:00:00 AM,03-23-2019 12:00:00 AM,1-2 Family Dwelling,10301.0,126 CORSON AVENUE,CORSON AVENUE,...,04-22-2019 01:48:45 PM,03-23-2019 01:52:13 PM,01 STATEN ISLAND,STATEN ISLAND,961152.0,171595.0,STATEN ISLAND,40.637635,-74.083224,0
13623,13623,13623,153406,42039339,03-25-2019 12:00:00 AM,03-25-2019 12:00:00 AM,3+ Family Apt. Building,10014.0,47 PERRY STREET,PERRY STREET,...,04-24-2019 12:18:05 AM,03-25-2019 12:00:00 AM,02 MANHATTAN,MANHATTAN,983421.0,207274.0,MANHATTAN,40.735596,-74.002991,0

In [103]:
df.to_csv('rats.csv')

In [46]:
r = list(np.random.rand(100))
r2 = list(np.random.rand(100))
a = [(t[0], math.floor(t[1]*10), "t") for t in zip(r,r2)]
a
txt = pd.DataFrame(a, columns=["x", "y", "text"])
txt

           x  y text
0   0.585529  7    t
1   0.914787  4    t
2   0.331497  4    t
3   0.915709  0    t
4   0.487592  5    t
..       ... ..  ...
95  0.209208  2    t
96  0.245141  0    t
97  0.721266  9    t
98  0.990298  7    t
99  0.313522  3    t

[100 rows x 3 columns]

In [47]:
alt.Chart(txt).mark_text().encode(
    x="x:Q",
    y="y:N",
    text="text:N"
)

alt.Chart(...)

In [90]:
df = pd.read_csv("nyc_temp.csv")
df2 = df[df['min'] > 50].groupby("year").agg(['count'])
df2
df3 = pd.DataFrame([
    ["2010",'173'],
    ["2011",'178'],
    ["2012",'180'],
    ["2013",'176'],
    ["2014",'177'],
    ["2015",'192'],
    ["2016",'169'],
    ["2017",'184'],
    ["2018",'173'],
    ["2019",'184'],
    ["2020",'152'],
], columns=["year", "count"])
df3

    year count
0   2010   173
1   2011   178
2   2012   180
3   2013   176
4   2014   177
5   2015   192
6   2016   169
7   2017   184
8   2018   173
9   2019   184
10  2020   152

In [113]:
df.head()

   Unnamed: 0  year  month  day   max   min      date
0           0  2010      1    1  40.0  33.0  2010-1-1
1           1  2010      1    2  34.0  17.0  2010-1-2
2           2  2010      1    3  22.0  17.0  2010-1-3
3           3  2010      1    4  30.0  19.0  2010-1-4
4           4  2010      1    5  30.0  20.0  2010-1-5

In [114]:
c1 = alt.Chart(df3).mark_line().encode(
    x="year:T",
    y=alt.Y("count:Q", title="Count of Days Above 50°")
)

c = ( 
    alt.Chart()
    .mark_line(stroke="crimson")
    .encode(
        x=alt.X("created_date:T", timeUnit="year", title="Complaint Creation Date"),
        y=alt.Y("count(unique_key):Q", title="Count of Complaints"),
    ) 
    .properties(width=700)
)
c

#alt.layer(c).resolve_scale(y="independent")

MaxRowsError: The number of rows in your dataset is greater than the maximum allowed (5000). For information on how to plot larger datasets in Altair, see the documentation

alt.Chart(...)